<h1>Order</h1>

<form (submit)="onRegisterSubmit()">


<div style="padding : 15px">

    <label><b>Order Id</b></label>
    <input [(ngModel)]="address" name='address' type="text" placeholder="address" required>

    <label><b>Route</b></label>
    <input [(ngModel)]="address" name='address' type="text" placeholder="address" required>

    <label><b>Delivery date</b></label>
    <input [(ngModel)]="address" name='address' type="text" placeholder="address" required>

    <label><b>Total Price</b></label>
    <input [(ngModel)]="address" name='address' type="text" placeholder="address" required>

    <label><b>Payment details</b></label>
    <input [(ngModel)]="address" name='address' type="text" placeholder="address" required>


    <button type="submit">Submit</button>
  </div>
</form>


